@font-face {
  font-family: "Roboto-Black";
  src: url(../fonts/Roboto-Black.woff) format("woff"),
    url(../fonts/Roboto-Black.woff2) format("woff2");
}

@font-face {
  font-family: "SF-Pro-Display-Black";
  src: url(../fonts/SF-Pro-Display-Black.woff) format("woff"),
    url(../fonts/SF-Pro-Display-Black.woff2) format("woff2");
}

@font-face {
  font-family: "SF-Pro-Display-Bold";
  src: url(../fonts/SF-Pro-Display-Bold.woff) format("woff"),
    url(../fonts/SF-Pro-Display-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "SF-Pro-Display-Heavy";
  src: url(../fonts/SF-Pro-Display-Heavy.woff) format("woff"),
    url(../fonts/SF-Pro-Display-Heavy.woff2) format("woff2");
}

@font-face {
  font-family: "SF-Pro-Display-Medium";
  src: url(../fonts/SF-Pro-Display-Medium.woff) format("woff"),
    url(../fonts/SF-Pro-Display-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "SF-Pro-Display-Regular";
  src: url(../fonts/SF-Pro-Display-Regular.woff) format("woff"),
    url(../fonts/SF-Pro-Display-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "SF-Pro-Display-Semibold";
  src: url(../fonts/SF-Pro-Display-Semibold.woff) format("woff"),
    url(../fonts/SF-Pro-Display-Semibold.woff2) format("woff2");
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* Стиль кнопки, можете отсюда брать и вставлять в свои секции + не забудьте hover START*/
/* .btn {
  width: 200px;
  height: 48px;
  border-radius: 500px;
  border: none;
  background: var(--2, linear-gradient(135deg, #48B760 0%, #6BB748 100%));
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-family: 'SF-Pro-Display-Regular';
  font-weight: 800;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer; 
}
.btn:hover {
  box-shadow: 3px 3px 20px #48B760;
  border: none;
  transition: 0.5s all;
} */
/* стиль кнопки END */

/* Стиль подзаголовка START*/
/* h2 {
  color: var(--gray-2, #4F4F4F);
  font-size: 96px;
  font-family: SF-Pro-Display-Heavy;
  font-weight: 900;
  text-transform: uppercase;
}
.title-block{
  margin-left: 38px;

}
.title-block__icon{
  transform: translate(-35px, 132px);
} */
/* Стиль подзаголовка END*/

/*Блок 1. header START*/
.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  padding: 30px 50px;
}

.nav__list {
  display: flex;
  gap: 50px;
}

.nav__item {
  margin-right: 30px;
  cursor: pointer;
  color: var(--gray-3, #828282);
  font-size: 14px;
  font-family: SF Pro Display;
  line-height: 18px;
}

.nav__item:hover {
  text-decoration: underline;
}

.logo {
  width: 162px;
  height: 50px;
}

.btn_header {
  position: relative;
  width: 180px;
  height: 44px;
  border-radius: 500px;
  border: none;
  background: var(--2, linear-gradient(135deg, #48b760 0%, #6bb748 100%));
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: "SF-Pro-Display-Regular";
  font-weight: 800;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
}

.btn_header:hover {
  box-shadow: 3px 3px 20px #48b760;
  border: none;
  transition: 0.5s all;
}

.header_buttons {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.btn2_header {
  position: absolute;
  width: 164px;
  top: 50px;
  padding: 30px 0 10px;
  border-radius: 0px 0px 22px 22px;
  background: #4b6350;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: SF Pro Display;
  line-height: 18px;
}

.btn2_header:hover {
  box-shadow: 3px 3px 25px #719377;
  border: none;
  transition: 0.5s all;
}
/*Mobile version START*/
@media screen and (max-width: 1200px) {
  .nav__list {
    gap: 10px;
    align-items: center;
  }
  .nav__item {
    margin-right: 0;
    margin-left: 20px;
  }
}
@media (max-width: 991px) {
  .header_buttons {
    display: none;
  }
}
.header_showmobile {
  display: none;
}
@media screen and (min-device-width: 320px) and (max-width: 480px) {
  .header {
    display: block;
  }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .nav__list {
    visibility: hidden;
    display: none;
  }
  .logo {
    width: 116px;
    height: 36px;
  }
  .logo_position {
    display: flex;
    transform: translate(-30px, -5px);
  }
  .nav__item {
    visibility: hidden;
    display: none;
  }
  .btn_header {
    visibility: hidden;
    display: none;
  }
  .header_buttons {
    visibility: hidden;
    display: none;
  }
  .btn2_header {
    visibility: hidden;
    display: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .header_showmobile {
    display: flex;
  }
  .menu_text:hover {
    text-decoration: underline;
  }
  .menu_text {
    position: absolute;
    margin-left: 155px;
    margin-top: 8px;

    color: var(--gray-2, #4f4f4f);
    text-align: right;
    font-size: 14px;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
  }
  .header {
    padding: 20px 20px 20px 45px;
  }
  .menu_header {
    display: flex;
    margin-left: 0;
    margin-top: 5px;
    width: 28px;
    height: 28px;
  }
  .menu_text {
    position: relative;
    margin-left: 0;
  }
  .nav1 {
    display: none;
  }
  .header_buttons {
    display: none;
  }
}

/*Mobile version END*/
/*Блок 1. header END*/

/*Блок 2. AGROBOT (титульная) START*/
.page-title {
  padding-left: 50px;
  padding-right: 50px;
  display: block;
  margin: 0 auto;
}
.page-title__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 450px 50px 1fr;
}
.btn {
  grid-row: 2/3;
  width: 200px;
  height: 48px;
  border-radius: 500px;
  border: none;
  background: var(--2, linear-gradient(135deg, #48b760 0%, #6bb748 100%));
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: "SF-Pro-Display-Regular";
  font-weight: 800;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 3px 3px 20px #48b760;
  border: none;
  transition: 0.5s all;
}
.page-title__header {
  margin: 0;
  margin-top: 185px;
  font-size: 135px;
  font-family: "Roboto-Black";
  font-weight: 900;
  line-height: 144px;
  text-transform: uppercase;
  color: #48b760;
}
span {
  color: #4f4f4f;
}
.page-title__descr {
  color: var(--gray-4, #bdbdbd);
  font-size: 18px;
  font-family: "SF-Pro-Display-Regular";
  font-weight: 500;
  line-height: 18px;
}
.page-title__text {
  margin-top: 20px;
  margin-bottom: 29px;
  color: var(--gray-3, #828282);
  font-size: 14px;
  font-family: "SF-Pro-Display-Regular";
  line-height: 18px;
  width: 319px;
}
.page-title__images {
  margin-top: 40px;
  grid-column-start: 2;
  grid-row: 1/5;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.page-title__icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 12px;
}
.page-title__item {
  margin-bottom: 20px;
  color: var(--gray-3, #828282);
  text-align: center;
  font-size: 18px;
  font-family: "SF-Pro-Display-Regular";
  font-weight: 500;
  line-height: 18px;
}

.page-title__bot {
  grid-row: 3/4;
  display: flex;
  align-items: center;
}

.page-title__bot-text {
  margin-left: 20px;
  color: var(--gray-4, #bdbdbd);
  font-size: 14px;
  font-family: "SF-Pro-Display-Regular";
  line-height: 18px;
}

@media (max-width: 1280px) {
  .page-title__container {
    grid-template-rows: 350px 50px 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .page-title__header {
    font-size: 100px;
    margin-top: 100px;
  }
  .page-title__bot-img {
    width: 7vw;
  }
  .page-title__bot {
    width: 400px;
  }
  .page-title__image {
    width: 15vw;
  }
  .page-title__item {
    font-size: 15px;
  }
}

@media (max-width: 991px) {
  .page-title__container {
    grid-template-rows: 280px 70px 1fr;
  }
  .page-title__header {
    font-size: 80px;
    margin-top: 50px;
    line-height: 119px;
  }
  .page-title__bot {
    width: 300px;
  }
  .page-title__image {
    width: 13vw;
  }
  .page-title__btn {
    margin-top: 10px;
  }
  .page-title__item {
    font-size: 12px;
  }
  .page-title__text {
    margin-bottom: 10px;
  }
  .page-title__bot-text {
    font-size: 10px;
  }
  .page-title__descr {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .page-title {
    padding-left: 20px;
    padding-right: 20px;
  }
  .page-title__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 203px 100px;
  }
  .page-title__header {
    font-size: 70px;
    margin-top: 34px;
    line-height: normal;
  }
  .page-title__image {
    display: none;
  }
  .page-title__descr {
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    margin-top: 10px;
  }
  .page-title__text {
    margin: 0;
    margin-top: 20px;
    text-align: center;
  }
  .page-title__images {
    flex-direction: column;
    align-items: flex-start;
    grid-row: 2/3;
    grid-column: 1/2;
    margin-top: 52px;
    /* margin-top: 0; */
    justify-content: center;
    align-items: center;
  }
  .page-title__btn {
    display: block;
    margin: 53px auto;
    /* margin-top: 53px; */
    grid-row: 3/4;
  }
  .page-title__bot {
    display: none;
  }
  .page-title__image-block {
    display: flex;
    align-items: flex-end;
  }
  .page-title__item {
    margin-top: 22px;
    margin-left: 16px;
  }
  .page-title__item{
    margin-top: 0;
  }
}
@media (max-width: 576px){
  .page-title__wrapper{
    display: block;
    margin: 0 auto;
  }
  .page-title__item{
    margin-top: 0;
  }
  .page-title__images {
    margin-top: 0;
    /* display: flex; */
    align-items: flex-start;
  }
  .page-title__text{
    text-align: left;
  }
  .page-title__btn{
    margin-top: 53px;
  }
}
@media (max-width: 320px) {
  .page-title__header {
    font-size: 60px;
  }
  .page-title__wrapper {
    width: 280px;
  }
  .page-title__text {
    width: 280px;
  }
}
/*Блок 2. AGROBOT (титульная) END*/

/*Блок 3. Товары и услуги START*/

.products {
  padding-left: 50px;
}
.goods_and_services {
  background-image: url(../image/business-process_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 100px 50px 80px;
}
.goods__title {
  color: var(--gray-2, #4f4f4f);
  font-size: 96px;
  font-family: "SF-Pro-Display-Heavy";
  font-weight: 900;
  text-transform: uppercase;
}
.goods_and_services-block {
  margin-left: 38px;
}
.goods_and_services-icon {
  transform: translate(-35px, 132px);
}
.goods_text {
  display: flex;
  width: 1340px;
  flex-direction: column;
  flex-shrink: 0;
  padding-top: 30px;
  padding-left: 20px;

  color: rgba(130, 130, 130, 1);
  font-size: 18px;
  font-family: "SF-Pro-Display-Regular";
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.goods__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  margin-left: 20px;
  margin-top: 50px;
}

.goods__grid-elem-1 {
  width: 315px;
  height: 372px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
}
#goodsIcon {
  margin-top: 40px;
  margin-left: 95px;
}
#semenaText {
  margin-left: 40px;
  padding-top: 40px;
  width: 227px;
  color: var(--gray-3, #828282);
  text-align: center;
  font-size: 24px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
#explainingString {
  color: var(--gray-4, #bdbdbd);
  text-align: center;
  font-size: 14px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
#btn_goods {
  width: 200px;
  height: 48px;
  border-radius: 500px;
  border: none;
  background: var(--2, linear-gradient(135deg, #48b760 0%, #6bb748 100%));
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: "SF-Pro-Display-Regular";
  font-weight: 800;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 55px;
  margin-top: 30px;
}
#btn_goods:hover {
  box-shadow: 3px 3px 20px #48b760;
  border: none;
  transition: 0.5s all;
}
.text_button {
  font-weight: bolder;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 800;
  line-height: 18px;
  text-transform: uppercase;
}
.goods__grid-elem-2 {
  width: 315px;
  height: 372px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
}
.agriculture {
  margin-top: 40px;
  margin-left: 95px;
}
.goods__grid-elem-3 {
  width: 315px;
  height: 372px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
}
.goods__grid-elem-4 {
  width: 315px;
  height: 372px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
}
.goods_text_mobile {
  display: none;
}
.goods_items_mobile {
  display: none;
}
.goods_Small_icon {
  display: none;
}

@media screen and (min-device-width: 320px) and (max-width: 480px) {
  .goods_and_services-icon {
    height: 24px;
    transform: translate(-23px, 52px);
  }
  .goods_and_services-block {
    height: 51px;
    margin-left: 1px;
  }
  .goods__title {
    width: 236px;
    height: 36px;

    color: var(--gray-2, #4f4f4f);
    font-family: "SF-Pro-Display-Heavy";
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
    text-transform: uppercase;
    font-size: 1.5em;
  }
  .goods_text {
    display: none;
  }
  .goods_text_mobile {
    display: flex;
    width: 328px;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 35px;
    transform: translate(-23px, 20px);
    color: var(--gray-3, #828282);
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
  .goods__items {
    display: none;
    visibility: hidden;
  }
  .goods_items_mobile {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    height: 620px;
  }
  .goods__grid-elem-1_mobile {
    width: 328px;
    height: 102px;
    transform: translate(-30px, 30px);
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
  }
  #goodsIcon_mobile {
    width: 62px;
    height: 62px;
    margin-left: 15px;
    margin-top: 25px;
  }
  #semenaText_mobile {
    color: var(--gray-3, #828282);
    font-family: "SF Pro Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin-left: 121px;
    transform: translateY(-85px);
  }
  #explainingString_mobile {
    color: var(--gray-4, #bdbdbd);
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    transform: translate(120px, -85px);
  }
  .goods_Small_icon {
    display: flex;
    width: 24px;
    height: 24px;
    margin-left: 284px;
    transform: translateY(-53px);
  }
  .goods__grid-elem-2_mobile {
    width: 328px;
    height: 102px;
    transform: translate(-360px, 155px);
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
  }
  .goods__grid-elem-3_mobile {
    width: 328px;
    height: 102px;
    transform: translate(-690px, 280px);
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
  }
  .goods__grid-elem-4_mobile {
    width: 328px;
    height: 102px;
    transform: translate(-1018px, 410px);
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
  }
}
/*Блок 3. Товары и услуги END*/

/*Блок 4.  Как с нами работать START*/
.business-process__body {
  background-image: url(../image/business-process_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 100px 50px 80px;
  min-width: 250px;
  overflow-y: auto;
}

.business-process__title-block {
  height: 130px;
  margin-left: 36px;
}

.business-process__title {
  font-family: "SF-Pro-Display-Black";
  font-size: 5.8em;
  line-height: 110px;
  color: rgba(79, 79, 79, 1);
  text-transform: uppercase;
}

.business-process__icon-logo {
  transform: translate(-36px, -28px);
}

.business-process__content {
  height: auto;
  width: calc(100% - 355px);
  margin: 40px auto 22px;
  display: flex;
  justify-content: space-between;
}

.business-process__col {
  width: 422px;
}

.business-process__item {
  padding-bottom: 50px;
}

.item__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item__number {
  height: 110px;
}

.item__body {
  width: 319px;
}

.item__subtitle {
  font-family: "SF-Pro-Display-Bold";
  font-size: 24px;
  line-height: 26px;
  color: #4f4f4f;
}

.item__text {
  font-family: "SF-Pro-Display-Regular";
  font-size: 14px;
  line-height: 18px;
  color: rgba(130, 130, 130, 1);
  padding-top: 12px;
}
.item__text-mobile {
  display: none;
}

.business-process__btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 48px;
  border-radius: 500px;
  border: none;
  background: linear-gradient(135deg, #48b760 0%, #6bb748 100%);
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: "SF-Pro-Display-Heavy";
  font-weight: 800;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.business-process__btn:hover {
  box-shadow: 3px 3px 20px #48b760;
  border: none;
  transition: 0.5s all;
}

@media screen and (max-width: 1350px) {
  .business-process__content {
    width: calc(100% - 300px);
  }
}

@media screen and (max-width: 1280px) {
  .business-process__body {
    padding: 50px 50px 30px;
  }
  .business-process__title {
    font-size: 5em;
  }
  .business-process__content {
    width: calc(100% - 170px);
  }
  .business-process__item {
    padding-bottom: 35px;
  }
}

@media screen and (max-width: 1170px) {
  .business-process__title {
    font-size: 4.8em;
  }
  .business-process__content {
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 1070px) {
  .business-process__title {
    font-size: 4em;
  }
  .business-process__content {
    width: calc(100% - 50px);
  }
}

@media screen and (max-width: 1024px) {
  .business-process__title-block {
    height: 110px;
  }
  .business-process__title {
    line-height: 85px;
  }
  .business-process__content {
    margin: 20px auto 0;
    width: calc(100% - 20px);
  }
  .business-process__col {
    width: 400px;
  }
  .business-process__item {
    padding-bottom: 40px;
  }
  .item__number {
    height: 100px;
  }
  .item__number img {
    height: 100%;
  }
  .item__body {
    width: 300px;
  }
  .item__subtitle {
    font-size: 22px;
    line-height: 20px;
  }
  .item__text {
    font-size: 12px;
    line-height: 16px;
  }
}

@media screen and (max-width: 910px) {
  .business-process__title-block {
    height: 75px;
  }
  .business-process__title {
    font-size: 3em;
    line-height: 60px;
  }
  .business-process__icon-logo {
    height: 30px;
    transform: translate(-21px, -17px);
  }
  .business-process__col {
    width: 269px;
  }
  .business-process__item {
    padding-bottom: 30px;
  }
  .item__row {
    height: 110px;
  }
  .item__number {
    height: 75px;
  }
  .item__subtitle {
    font-size: 18px;
  }
  .item__text {
    font-size: 10px;
    line-height: 14px;
  }
}

@media screen and (max-width: 716px) {
  .business-process__body {
    background-image: none;
  }
  .business-process__title-block {
    height: 63px;
  }
  .business-process__title {
    font-size: 2.5em;
    line-height: 50px;
  }
  .business-process__icon-logo {
    height: 27px;
    transform: translate(-21px, -15px);
  }
  .business-process__content {
    flex-direction: column;
    align-items: center;
  }
  .business-process__col {
    width: 400px;
  }

  .item__number {
    height: 110px;
  }
  .item__subtitle {
    line-height: 26px;
  }
  .item__text {
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (max-width: 620px) {
  .business-process__title {
    font-size: 2.2em;
  }
  .business-process__col {
    width: 88%;
  }
}

@media screen and (max-width: 580px) {
  .business-process__title {
    font-size: 2em;
  }
  .business-process__col {
    width: 100%;
  }
  .item__row {
    justify-content: initial;
  }
  .item__number {
    padding-right: 10px;
  }
  .item__body {
    width: auto;
  }
}

@media screen and (max-width: 540px) {
  .business-process__body {
    padding: 50px 30px 30px;
  }
}

@media screen and (max-width: 483px) {
  .business-process__body {
    padding: 50px 16px 30px;
  }
  .business-process__title-block {
    height: 51px;
  }
  .business-process__title {
    font-size: 1.5em;
    line-height: 36px;
  }
  .business-process__icon-logo {
    height: 24px;
    transform: translate(-23px, -10px);
  }
  .business-process__item {
    padding-bottom: 40px;
  }
  .item__text {
    padding-top: 10px;
  }
  .item__text {
    display: none;
  }
  .item__text-mobile {
    display: block;
  }
}

@media screen and (max-width: 360px) {
  .business-process__content {
    width: 100%;
  }
  .business-process__btn {
    margin-top: 10px;
  }
}

@media screen and (max-width: 359px) {
  .business-process__body {
    width: 328px;
  }
  .business-process__title {
    font-size: 1.3em;
  }
}

@media (max-width: 250px) {
  .business-process__title {
    font-size: 1em;
  }
}

/*Блок 4.  Как с нами работать END*/

/*Блок 5. Кредитование START*/
.crediting {
  min-height: 1260px;
  background: url("../image/crediting/crediting-bg.jpg") no-repeat 50% / cover;
}

.crediting__container {
  padding-left: 50px;
  padding-right: 50px;
  display: block;
  margin: 0 auto;
}
.crediting__image {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
}
.crediting-title {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 54px;
  column-gap: 60px;
  align-items: center;
}
.crediting__title-block {
  margin-left: 38px;
}
.crediting__title {
  color: var(--gray-2, #4f4f4f);
  font-size: 94px;
  font-family: "SF-Pro-Display-Heavy";
  font-weight: 900;
  text-transform: uppercase;
}

.crediting__title-icon {
  transform: translate(-35px, 132px);
}
.crediting__descr {
  color: var(--gray-2, #4f4f4f);
  font-size: 14px;
  font-family: "SF-Pro-Display-Regular";
  font-weight: 600;
  line-height: 18px;
  margin-left: 75px;
  width: 290px;
}
.credidting__items {
  display: grid;
  column-gap: 150px;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
}
.crediting__subtitle {
  color: var(--gray-2, #4f4f4f);
  font-size: 24px;
  font-family: "SF-Pro-Display-Bold";
  font-weight: 700;
  line-height: 26px;
}
.crediting__item-descr {
  color: var(--gray-2, #4f4f4f);
  font-size: 18px;
  font-family: "SF-Pro-Display-Medium";
  font-weight: 500;
  line-height: 24px;
}
.crediting__item-period,
.crediting__item-term {
  color: var(--gray-2, #4f4f4f);
  font-size: 18px;
  font-family: "SF-Pro-Display-Bold";
  font-weight: 700;
  line-height: 24px;
}
.crediting__item-note {
  color: var(--gray-4, #bdbdbd);
  font-size: 14px;
  font-family: "SF-Pro-Display-Medium";
  font-weight: 500;
  line-height: 24px;
}
.grid-elem-1 {
  display: grid;
  column-gap: 56px;
  grid-column: 1/3;
}
.grid-elem-1-2 {
  grid-row: 2/3;
}
.grid-elem-1-3 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.grid-elem-1-4 {
  grid-column: 1/2;
}
.grid-elem-2 {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-column: 3/5;
  row-gap: 20px;
}
.grid-elem-2-2 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.grid-elem-2-3 {
  grid-row: 2/3;
  grid-column: 2/3;
}
.grid-elem-2-4 {
  grid-column: 1/2;
  grid-row: 3/4;
}
.grid-elem-2-5 {
  grid-column: 2/3;
  grid-row: 3/4;
}
.grid-elem-2-6 {
  grid-column: 1/2;
  grid-row: 4/5;
}
.grid-elem-2-7 {
  grid-column: 2/3;
  grid-row: 4/5;
}
.crediting__btn {
  display: block;
  margin: 0 auto;
  margin-top: 65px;
}

@media screen and (max-width: 1439px) {
  .crediting {
    min-height: 1100px;
  }
}

@media screen and (max-width: 1200px) {
  .crediting__bank-logo {
    width: 19vw;
  }
  .crediting__title {
    font-size: 75px;
  }
  .credidting__items {
    column-gap: 20px;
  }
  .crediting__title-icon {
    transform: translate(-35px, 112px);
  }
}

@media screen and (max-width: 991px) {
  .crediting__title {
    font-size: 70px;
  }
  .crediting__title-icon {
    transform: translate(-35px, 91px);
  }
  .crediting__title {
    font-size: 54px;
  }
}

@media screen and (max-width: 767px){
  .crediting{
    min-height: 920px;
  }
  .crediting-title {
    column-gap: 37px;
  }
  .crediting__title{
    font-size: 39px;
  }
  .crediting__bank-logo{
    transform: translateY(25px);
  }
  .credidting__items {
    column-gap: 10px;
    row-gap: 20px;
  }
  .crediting__item-period,
  .crediting__item-term {
    font-size: 13px;
  }
  .crediting__item-descr {
    font-size: 13px;
  }
  .crediting__item-note {
    font-size: 10px;
  }
  .crediting__subtitle {
    font-size: 17px;
  }
  .crediting__item {
    row-gap: 0px;
    column-gap: 10px;
  }
  .grid-elem-1 {
    row-gap: 20px;
  }
  .grid-elem-2 {
    grid-template-rows: repeat(4, 40px);
    row-gap: 20px;
  }
}

@media screen and (max-width: 576px) {
  .crediting {
    min-height: 900px;
    width: 100%;
  }
  .crediting__container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .crediting__title {
    font-size: 29px;
  }
  .crediting-title {
    grid-template-columns: 250px 100px;
  }
  .crediting__title-block {
    margin-left: 20px;
  }
  .crediting__descr {
    margin-left: 20px;
  }
  .crediting__bank-logo {
    width: 16vw;
    transform: translateY(13px);
  }
  .crediting__title-icon {
    width: 24px;
    height: 24px;
    transform: translate(-17px, 45px);
  }
  .credidting__items {
    gap: 0px;
    margin: 15px 0;
  }
  .crediting__descr {
    font-size: 10px;
  }
  .credidting__items {
    row-gap: 20px;
  }
  .crediting__item {
    row-gap: 0px;
    column-gap: 40px;
  }
  .grid-elem-1 {
    row-gap: 20px;
  }
  .grid-elem-2 {
    grid-template-rows: repeat(4, 40px);
    row-gap: 20px;
  }
  .crediting__subtitle {
    font-size: 18px;
  }
  .crediting__item-descr {
    font-size: 14px;
  }
  .crediting__item-period {
    font-size: 14px;
  }
  .crediting__item-term {
    font-size: 14px;
    text-align: end;
  }
  .grid-elem-2 {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .crediting__item-note {
    display: none;
  }
  .crediting__btn {
    margin-top: 40px;
  }
}
@media screen and (max-width: 320px) {
  .crediting__bank-logo {
    display: none;
  }
  .crediting__descr {
    grid-row: 2/3;
  }
}

/*Блок 5. Кредитование END*/

/*Блок 6. Наши партнеры START*/
.partners__body {
  padding: 100px 50px 0;
}

.partners__title-block {
  height: 130px;
  margin: 0 0 30px 36px;
}

.partners__title {
  font-family: "SF-Pro-Display-Black";
  font-size: 96px;
  line-height: 110px;
  color: rgba(79, 79, 79, 1);
  text-transform: uppercase;
}

.partners__icon-logo {
  max-width: 100%;
  transform: translate(-36px, -34px);
}
.partners_text {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  padding-top: 30px;
  padding-left: 20px;

  color: rgba(130, 130, 130, 1);
  font-size: 18px;
  font-family: "SF-Pro-Display-Regular";
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.container_partners {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  padding-top: 30px;
}
.partners_btn {
  display: block;
  margin: 72px auto;
  width: 200px;
  height: 48px;
  border-radius: 500px;
  border: none;
  background: var(--2, linear-gradient(135deg, #48b760 0%, #6bb748 100%));
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: "SF-Pro-Display-Regular";
  font-weight: 800;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
} 
.partners_btn:hover {
  box-shadow: 3px 3px 20px #48B760;
  border: none;
  transition: 0.5s all;
}
@media screen and (min-width: 577) {
  .partners_text_mobile {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .partners__body {
    min-height: 700px;
    width: 100%;
  }
  .partners_text {
    display: none;
  }
  .partners__title-block { 
    grid-template-columns: 249px 51px;
    margin-left: 20px;
  }
  .partners__title {
    font-size: 24px;
  }
  .partners__icon-logo {
    width: 16vw;
    transform: translateY(13px);
  }
  .partners__icon-logo {
    width: 24px;
    height: 24px;
    transform: translate(-17px, 45px);
  }
  .container_partners {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    padding-top: 30px;
  }
}


/*Блок 6. Наши партнеры END*/

/*Блок 7. Обратная связь START*/
.feedback__body {
  padding: 100px 50px 0;
  min-width: 250px;
  overflow-y: auto;
}

.feedback__title-block {
  height: 130px;
  margin: 0 0 30px 36px;
}

.feedback__title {
  font-family: "SF-Pro-Display-Black";
  font-size: 94px;
  line-height: 110px;
  color: rgba(79, 79, 79, 1);
  text-transform: uppercase;
}

.feedback__icon-logo {
  transform: translate(-36px, -34px);
}

.feedback__container {
  display: grid;
  grid-template-columns: 38% 1fr;
  grid-column-gap: 50px;
  padding-bottom: 20px;
}

.feedback__form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 3fr;
  grid-row-gap: 16px;
}

.input__field {
  height: 68px;
  padding-left: 30px;
  border-radius: 34px;
  font-family: "SF-Pro-Display-Regular";
  font-size: 24px;
  line-height: 26px;
  background-color: #f2f2f2;
}

.input__field-textarea {
  height: 202px;
  padding-top: 21px;
  resize: vertical;
}

.feedback__iframe {
  border-radius: 34px;
  width: 100%;
  height: 100%;
}

.feedback__checkbox {
  font-family: "SF-Pro-Display-Medium";
  font-size: 14px;
  line-height: 44px;
  color: #bdbdbd;
  margin-bottom: 20px;
}

.feedback__checkbox a {
  color: #828282;
}

.feedback__btn {
  display: block;
  width: 200px;
  height: 48px;
  border-radius: 500px;
  border: none;
  background: linear-gradient(135deg, #48b760 0%, #6bb748 100%);
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: "SF-Pro-Display-Heavy";
  font-weight: 800;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.feedback__bot {
  text-align: right;
  padding-bottom: 50px;
}

@media screen and (max-width: 1280px) {
  .feedback__title {
    font-size: 5em;
  }
}

@media screen and (max-width: 1170px) {
  .feedback__title {
    font-size: 4.8em;
  }
}

@media screen and (max-width: 1070px) {
  .feedback__title {
    font-size: 4em;
  }
}

@media screen and (max-width: 1024px) {
  .feedback__title-block {
    height: 100px;
    margin: 0 0 20px 36px;
  }
  .feedback__title {
    line-height: 85px;
  }
}

@media screen and (max-width: 910px) {
  .feedback__title-block {
    height: 75px;
  }
  .feedback__title {
    font-size: 3em;
    line-height: 60px;
  }
  .feedback__icon-logo {
    height: 30px;
    transform: translate(-21px, -17px);
  }
}

@media screen and (max-width: 835px) {
  .feedback__container {
    grid-template-columns: 80%;
    grid-template-rows: 1fr 15% 1fr;
    grid-template-areas:
      "row-1"
      "row-2"
      "row-3";
    justify-content: center;
  }
  .feedback__form {
    grid-area: row-1;
  }
  .feedback__map {
    grid-area: row-3;
  }
  .feedback__btn {
    grid-area: row-2;
  }
  .feedback__bot {
    display: none;
  }
}

@media screen and (max-width: 716px) {
  .feedback__title-block {
    height: 65px;
  }
  .feedback__title {
    font-size: 2.5em;
    line-height: 50px;
  }
  .feedback__container {
    grid-template-columns: 90%;
  }
}

@media screen and (max-width: 620px) {
  .feedback__title {
    font-size: 2.2em;
  }
}

@media screen and (max-width: 580px) {
  .feedback__title {
    font-size: 2em;
  }
  .feedback__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 13% 1fr;
  }
}

@media screen and (max-width: 540px) {
  .feedback__body {
    padding: 50px 30px 30px;
  }
}

@media screen and (max-width: 483px) {
  .feedback__body {
    padding: 50px 16px 30px;
  }
  .feedback__title-block {
    height: 51px;
  }
  .feedback__title {
    font-size: 1.5em;
    line-height: 36px;
  }
  .feedback__icon-logo {
    height: 24px;
    transform: translate(-23px, -10px);
  }
  .input__field {
    font-size: 18px;
  }
  .feedback__checkbox {
    font-size: 10px;
  }
}

@media screen and (max-width: 359px) {
  .feedback__body {
    width: 328px;
  }
  .feedback__title {
    font-size: 1.3em;
  }
}

@media (max-width: 250px) {
  .feedback__title {
    font-size: 1em;
  }
}

/*Блок 7. Обратная связь END*/

/*Блок 8. footer START*/

.nav__item_selected {
  color: var(--gray-4, #bdbdbd);
}

.nav__item1:hover {
  text-decoration: underline;
}
.background_footer {
  width: 1350px;
  height: 330px;
  flex-shrink: 0;
  background: #4f4f4f;
  z-index: -2;
}
.logo_footer {
  display: flex;
  margin-top: 70px;
  margin-left: 45px;
}
.textFooter {
  display: flex;
  margin-top: 80px;
  margin-left: 50px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  color: #828282;
  font-size: 14px;
  font-family: "SF Pro Display";
  line-height: 18px;
}
.name_agrobot1 {
  font-weight: bolder;
  color: #828282;
  font-size: 14px;
  font-family: "SF Pro Display";
  line-height: 18px;
}
.name_agrobot2 {
  font-weight: bolder;
  color: #a2a2a2;
  font-size: 14px;
  font-family: "SF Pro Display";
  line-height: 18px;
}
.cardOfaSite {
  display: flex;
  margin-left: 100px;
  margin-top: 60px;
  color: #fff;
  font-size: 18px;
  font-family: "SF Pro Display";
  font-weight: 500;
  line-height: 18px;
  height: 40px;
}
.cardOfaSite:hover {
  text-decoration: underline;
}
.footer__block {
  padding-top: 60px;
}

.footer__media {
  width: 168px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 300px;
  margin-top: 30px;
  justify-content: space-between;
}
.social_media_text {
  color: #fff;
  font-size: 18px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin-left: 302px;
}
.nav_footer {
  margin-top: 130px;
}
.footer {
  height: 322px;
  display: flex;
  background-color: #4f4f4f;
  border: 2px solid black;
}
.mobFoot {
  display: none;
}
.nav_footer_mobile {
  display: none;
}
.card_mobile {
  display: none;
}
@media only screen and (min-device-width: 320px) and (max-width: 480px) {
  .footer {
    width: 360px;
    height: 438px;
    background: #4f4f4f;
    z-index: 0;
  }
  .card_mobile {
    display: flex;
  }
  .cardOfaSite {
    color: #fff;
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    transform: translate(-285px, -40px);
    width: 100px;
  }
  .cardOfaSite:hover {
    text-decoration: underline;
  }
  .logo_footer {
    display: flex;
    width: 162px;
    height: 50px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transform: translate(-30px, 180px);
  }
  .textFooter {
    display: none;
    visibility: hidden;
  }
  .textFooter_mobile {
    color: #828282;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    z-index: 1;
  }
  .mobFoot {
    display: flex;
    transform: translate(17px, 210px);
  }
  .footer__media {
    display: flex;
    transform: translate(-923px, 90px);
  }
  .social_media_text {
    display: flex;
    transform: translate(-920px, 100px);
  }
  .nav_footer_mobile {
    display: block;
  }
  .nav__list_mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  .mob_grid1 {
    grid-column: 1/2;
    color: var(--gray-3, #828282);
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    transform: translate(-385px, 70px);
    width: 150px;
  }
  .nav__item_mobile_selected {
    color: var(--gray-4, #bdbdbd);
  }
  .mob_grid2 {
    grid-column: 2/2;
    color: var(--gray-3, #828282);
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    transform: translate(-360px, 72px);
  }
}

/*Блок 8. footer END*/

/*Блок 9. Модальное окно START*/
.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal {
  width: 315px;
  min-height: 150px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal__descr {
  color: var(--gray-3, #828282);
  text-align: center;
  font-size: 24px;
  font-family: "SF-Pro-Display-Bold";
  font-weight: 600;
  line-height: 26px;
}
.modal_close {
  color: #48b760;
  position: absolute;
  top: 0;
  right: -30px;
  font-size: 50px;
  line-height: 28px;
  cursor: pointer;
}
#thanks {
  display: none;
}

@media screen and (max-width: 1439px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media screen and (max-width: 576px) {
  .modal {
    width: 200px;
  }
  .modal__descr {
    font-size: 20px;
  }
}
/*Блок 9. Модальное окно END*/
