@font-face {
  font-family: "Roboto-Black";
  src: url(../fonts/Roboto-Black.woff) format("woff"),
    url(../fonts/Roboto-Black.woff2) format("woff2");
}

@font-face {
  font-family: "SF-Pro-Display-Black";
  src: url(../fonts/SF-Pro-Display-Black.woff) format("woff"),
    url(../fonts/SF-Pro-Display-Black.woff2) format("woff2");
}

@font-face {
  font-family: "SF-Pro-Display-Bold";
  src: url(../fonts/SF-Pro-Display-Bold.woff) format("woff"),
    url(../fonts/SF-Pro-Display-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "SF-Pro-Display-Heavy";
  src: url(../fonts/SF-Pro-Display-Heavy.woff) format("woff"),
    url(../fonts/SF-Pro-Display-Heavy.woff2) format("woff2");
}

@font-face {
  font-family: "SF-Pro-Display-Medium";
  src: url(../fonts/SF-Pro-Display-Medium.woff) format("woff"),
    url(../fonts/SF-Pro-Display-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "SF-Pro-Display-Regular";
  src: url(../fonts/SF-Pro-Display-Regular.woff) format("woff"),
    url(../fonts/SF-Pro-Display-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "SF-Pro-Display-Semibold";
  src: url(../fonts/SF-Pro-Display-Semibold.woff) format("woff"),
    url(../fonts/SF-Pro-Display-Semibold.woff2) format("woff2");
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  padding-left: 50px;
  padding-right: 50px;
  display: block;
  margin: 0 auto;
  /* display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer"; */
}

/* Стиль кнопки, можете отсюда брать и вставлять в свои секции + не забудьте hover START*/
/* .btn {
  width: 200px;
  height: 48px;
  border-radius: 500px;
  border: none;
  background: var(--2, linear-gradient(135deg, #48B760 0%, #6BB748 100%));
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-family: 'SF-Pro-Display-Regular';
  font-weight: 800;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer; 
}
.btn:hover {
  box-shadow: 3px 3px 20px #48B760;
  border: none;
  transition: 0.5s all;
} */
/* стиль кнопки END */

/* Стиль подзаголовка START*/
/* h2 {
  color: var(--gray-2, #4F4F4F);
  font-size: 96px;
  font-family: SF-Pro-Display-Heavy;
  font-weight: 900;
  text-transform: uppercase;
}
.title-block{
  margin-left: 38px;

}
.title-block__icon{
  transform: translate(-35px, 132px);
} */
/* Стиль подзаголовка END*/

/*Блок 1. header START*/

/*Блок 1. header END*/

/*Блок 2. AGROBOT (титульная) START*/
.page-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.page-title__wrapper {
  width: 624px;
}
.btn {
  width: 200px;
  height: 48px;
  border-radius: 500px;
  border: none;
  background: var(--2, linear-gradient(135deg, #48b760 0%, #6bb748 100%));
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: "SF-Pro-Display-Regular";
  font-weight: 800;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 3px 3px 20px #48b760;
  border: none;
  transition: 0.5s all;
}
.page-title__header {
  margin: 0;
  margin-top: 185px;
  font-size: 135px;
  font-family: "Roboto-Black";
  font-weight: 900;
  line-height: 144px;
  text-transform: uppercase;
  color: #48b760;
}
span {
  color: #4f4f4f;
}
.page-title__descr {
  color: var(--gray-4, #bdbdbd);
  font-size: 18px;
  font-family: "SF-Pro-Display-Regular";
  font-weight: 500;
  line-height: 18px;
}
.page-title__text {
  margin-top: 20px;
  margin-bottom: 29px;
  color: var(--gray-3, #828282);
  font-size: 14px;
  font-family: "SF-Pro-Display-Regular";
  line-height: 18px;
  width: 319px;
}
.page-title__images {
  grid-column-start: 2;
  display: flex;
  align-items: flex-end;
}
.page-title__icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 12px;
}
.page-title__item {
  margin-bottom: 20px;
  color: var(--gray-3, #828282);
  text-align: center;
  font-size: 18px;
  font-family: "SF-Pro-Display-Regular";
  font-weight: 500;
  line-height: 18px;
}

.page-title__bot {
  margin-top: 159px;
  display: flex;
  align-items: center;
}

.page-title__bot-text {
  margin-left: 20px;
  color: var(--gray-4, #bdbdbd);
  font-size: 14px;
  font-family: "SF-Pro-Display-Regular";
  line-height: 18px;
}
/*Блок 2. AGROBOT (титульная) END*/

/*Блок 3. Товары и услуги START*/

/*Блок 3. Товары и услуги END*/

/*Блок 4.  Как с нами работать START*/

.business-process__body {
  background: url(../image/business-process_background.png) no-repeat;
}

.business-process__title {
  font-family: "SF-Pro-Display-Black";
  font-size: 96px;
  line-height: 110px;
  color: rgba(79, 79, 79, 1);
  text-transform: uppercase;
  padding-top: 100px;
}

.business-process__content {
  height: 430px;
  column-gap: 234px;
  width: calc(100% - 355px);
  margin: 60px auto 72px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item__row {
  display: flex;
  align-items: center;
}

.item__subtitle {
  font-family: "SF-Pro-Display-Bold";
  font-size: 24px;
  line-height: 26px;
  color: #4f4f4f;
}

.item__text {
  font-family: "SF-Pro-Display-Regular";
  font-size: 14px;
  line-height: 18px;
  color: rgba(130, 130, 130, 1);
  padding-top: 12px;
}

.business-process__btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 48px;
  border-radius: 500px;
  border: none;
  background: var(--2, linear-gradient(135deg, #48b760 0%, #6bb748 100%));
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: "SF-Pro-Display-Regular";
  font-weight: 800;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.business-process__btn:hover {
  box-shadow: 3px 3px 20px #48b760;
  border: none;
  transition: 0.5s all;
}

/*Блок 4.  Как с нами работать END*/

/*Блок 5. Кредитование START*/

/*Блок 5. Кредитование END*/

/*Блок 6. Наши партнеры START*/

/*Блок 6. Наши партнеры END*/

/*Блок 7. Обратная связь START*/

/*Блок 7. Обратная связь END*/

/*Блок 8. footer START*/

/*Блок 8. footer END*/
